* {
  margin: 0px;
  padding: 0px;
  position: relative;
}

:root {
  /* iPhone13 */
  --aspect-ratio: 0.46208531;
  --phone-width: 360px;
  --phone-height: calc(var(--phone-width) / var(--aspect-ratio));
  --primary-color: #a4a3d9;
}

.container {
  display: grid;
  align-content: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #f0f0f0;
}

.phone {
  width: var(--phone-width);
  height: var(--phone-height);
  background-color: #fff;
  border-radius: 24px;
  border: 5px solid #333;
  overflow: hidden;
}

.screen {
  width: 100%;
  height: 100%;
}

.contents {
  display: grid;
  grid-template-rows: repeat(2, calc(var(--phone-height) / 2));
  grid-template-columns: 1fr;
  align-content: stretch;
  justify-content: stretch;
  width: 100%;
}

.detail-wrapper {
  display: inline-flex;
  align-items: stretch;
  justify-content: stretch;
  overflow: hidden;
}

.detail-content {
  margin: 24px;
  padding: 24px;
  font-size: 1rem;
  background-color: #c9cff2;
  color: #333;
  border-radius: 16px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.32);
}

.title {
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.1rem;
  margin-bottom: 8px;
}

.description {
}

.circle-ui {
  overflow: hidden;
}

.circle-obj {
  position: absolute;
  --circle-size: calc(var(--phone-width) * 2);
  width: var(--circle-size);
  height: var(--circle-size);
  background-color: var(--primary-color);
  border-radius: calc(var(--circle-size) / 2);
  transform: translateX(-25%) translateY(32%);
}

.buttons-wrapper {
  position: absolute;
}

.button {
  position: absolute;
  width: 240px;
  height: 60px;
  background-color: var(--primary-color);
  border-radius: 16px;
  text-align: center;
  line-height: 60px;
  color: #333;
  letter-spacing: 0.1rem;
}

.debug-tool {
  position: absolute;
  margin: 16px;
}

.debug-button {
  width: 180px;
  height: 48px;
  border-radius: 6px;
  background-color: #333;
  color: white;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease-in-out;
}

.debug-button:hover {
  background-color: #000;
}
